{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <table class="table tablestriped">
        <thead>
            <tr>
                <th class="text-start">Symbol</th>
                <th class="text-start">Name</th>
                <th class="text-end">Shares</th>
                <th class="text-end">Price</th>
                <th class="text-end">TOTAL</th>
            </tr>
        </thead>
        <tbody>
            <!-- Loop through the database entries to display them in this table -->
            {% for share in user_portfolio %}
                <tr>
                    <td class="text-start">{{ share["symbol"] }}</td>
                    <td class="text-start">{{ share["name"]}}</td>
                    <td class="text-end">{{ share["SUM(shares)"]}}</td>
                    <td class="text-end">{{ share["currentprice"] | usd}}</td>
                    <td class="text-end">{{ share["totalprice"] | usd}}</td>
                </tr>
            {% endfor %}
        <tfoot>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="4">Cash</td>
                <td class="border-0 text-end">{{user_cash[0]["cash"] | usd}}</td>
            </tr>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="4">TOTAL</td>
                <td class="border-0 w-bold text-end">{{(user_cash[0]["cash"] + current_worth) | usd}}</td>
            </tr>
        </tfoot>
    </table>
{% endblock %}


